/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {
  #services {
    background-size: 1rem 1rem;
    background-image:
    linear-gradient(to right, rgba(100,33,166,0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(100,33,166,0.08) 1px, transparent 1px);
  }

  .btn {
    border: 2px solid rgba(100,33,166, 1);
    color: rgba(100,33,166, 1);
  }

}

@media (prefers-color-scheme: dark) {
  #services {
    background-size: 1rem 1rem;
    background-image:
    linear-gradient(to right, rgba(178,144,210,0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(178,144,210,0.08) 1px, transparent 1px);
  }

  .btn {
    border: 2px solid rgb(178,144,210);
    color: rgb(178,144,210);
  }

  .primaryBtn {
    color: var(--color-dark)
  }
}

section:not(.intro) {
  padding: calc(var(--spacing-xxlarge) * 2) 0;
}

br {
  margin-bottom: var(--spacing-small);
}

.groupRow .card a.btn {
  margin: var(--spacing-base) auto 0 auto;
}

.fullpage .intro {
  margin-bottom: 0;
}

.fullpage footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .card h4 + .badge {
  position: relative;
  top: -.25rem;
} */

@media only screen and (max-width: 1280px) {
  section:not(.intro) {
    padding: calc(var(--spacing-xxlarge) * 2) 0;
  }

}

@media only screen and (max-width: 1024px) {
  section:not(.intro) {
    padding: calc(var(--spacing-xxlarge) * 1.5) 0;
  }

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 640px) {


}


@media only screen and (max-width: 480px) {


}
