@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--color-light);
    box-shadow:  var(--spacing-small) var(--spacing-small) 0 rgba(100,33,166, .15);
    border: 2px solid rgba(100,33,166, 1);
    /* animation: gradient 30s infinite; */
  }

}

@media (prefers-color-scheme: dark) {
  .card {
    border: 2px solid rgb(178,144,210);
    background-color: var(--color-shade-dm);
    box-shadow:  var(--spacing-small) var(--spacing-small) 0 rgba(178,144,210,.15);
  }
}

.card {
  padding: var(--spacing-xlarge) var(--spacing-large) !important;
  margin: 0 var(--spacing-base) !important;
  max-width: 640px;
  border-radius: var(--radius-soft);
}

.card h4 {
  margin-bottom: var(--spacing-small);
}

.card:first-of-type {
  margin-left: 0;
  margin-right: var(--spacing-small);
}

.card:last-of-type {
  margin-right: 0;
  margin-left: var(--spacing-small);
}

.center .groupRow:first-of-type .card {
  margin-top: var(--spacing-large);
}

.groupRow:last-of-type {
  margin-top: 0;
}

.card .meta {
  font-size: var(--font-size-small) !important;
}

.center .description ul {
  margin: var(--spacing-base) auto 0 auto !important;
}

@media only screen and (max-width: 1024px) {

  .card {
    margin: 0 var(--spacing-base) !important;
  }

}

@media only screen and (max-width: 960px) {
  /* .card h4 {
    font-size:  calc(var(--font-size-3) * .7);
  } */

  .card {
    padding: var(--spacing-large) var(--spacing-large) !important;
    margin: 0 var(--spacing-base) !important;
  }

}

@media only screen and (max-width: 768px) {
  .center .groupRow:first-of-type .card:nth-child(2n) {
    margin-top: var(--spacing-base);
  }

  .card {
    margin:  0 0 var(--spacing-medium) 0 !important;
  }

  /* .card h4 {
    font-size:  calc(var(--font-size-3) * .8);
  } */

  .card:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  .card:last-of-type {
    margin-right: 0;
    margin-left: 0;
  }

  .groupRow .card.description {
    margin-top: var(--spacing-base);
  }

  .groupRow:first-of-type {
    margin-bottom: 0;
    margin-top: var(--spacing-base);
  }
}
