@media (prefers-color-scheme: light) {
  header {
    background-color: var(--color-light-translucent) !important;
  }

  header input {
    border: var(--border-dark);
  }

  nav a.selected {
    box-shadow: inset 0 -3px var(--color-dark);
  }

  nav ul li a:hover {
    box-shadow: inset 0 -3px var(--color-dark);
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: var(--color-dark-translucent) !important;
  }

  nav a.selected {
    box-shadow: inset 0 -3px var(--color-light);
  }

  nav ul li a:hover {
    box-shadow: inset 0 -3px var(--color-light);
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex: 0 1 auto;
  z-index: 9;
  backdrop-filter: blur(var(--spacing-base));
  -webkit-backdrop-filter: blur(var(--spacing-base));
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header h1 {
  width: fit-content;
  font-size: var(--font-size-logo) !important;
}

header .logo {
  display: flex;
  align-items: center;
  height: var(--size-logo);
  padding: calc(var(--spacing-medium) * 1.125) 0;
  line-height: var(--line-height-base);
  display: flex;
  width: fit-content;
}

header a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

header h1 a:hover {
  text-decoration: underline;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-base);
}

header input {
  padding: calc(var(--spacing-base) * .75) var(--spacing-base);
  border-radius: var(--radius-soft);
  font-size: var(--font-size-small);
  width: 280px;
}

.mobileNav {
  display: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

nav.staged {
  display: none;
}

.open {
  display: initial !important;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 0;
}

nav ul li {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

nav ul li a.wrapper {
  max-width: initial;
  width: initial;
  display: flex;
  padding: 0 calc(var(--spacing-base) * 1.125);
}

nav a {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: var(--font-size-smaller);
  letter-spacing: var(--kern-open);
}

nav .btn {
  margin: 0 0 0 var(--spacing-base);
  height: fit-content;
  align-self: center;
}

nav .btn:last-of-type {
  margin-left: var(--spacing-small);
}

nav .badge {
  margin-right: var(--spacing-base);
}

.appHeader .wrapper {
  max-width: none;
}

@media only screen and (max-width: 900px) {
  @media (prefers-color-scheme: light) {
    header nav ul {
      box-shadow: var(--shadow-lm);
      background-color: var(--color-light);
      border: var(--border-dark);
    }

    header nav ul li a:hover {
      box-shadow: inset 3px 0 var(--color-dark);
    }
  }

  @media (prefers-color-scheme: dark) {
    header nav ul {
      box-shadow: var(--shadow-dm);
      background-color: var(--color-shade-dm);
      border: var(--border-light);

    }

    header nav ul li a:hover {
      box-shadow: inset 3px 0 var(--color-light);
    }
  }

  header nav ul {
    display: none;
  }

  .mobileNav {
    display: flex;
    align-self: center;
  }

  header nav ul {
    flex-direction: column;
    position: absolute;
    top: 72px;
    width: max-content;
    z-index: 1;
    padding: var(--spacing-small) 0;
    align-items: flex-start;
    border-radius: var(--radius-soft);
  }

  header nav ul li a.wrapper {
    display: flex;
    width: 100%;
  }

  nav .btn:last-of-type {
    margin-right: 0;
  }

  nav ul .btn {
    margin-right: var(--spacing-base) !important;
    margin-left: var(--spacing-base) !important;
  }


  header nav ul li a {
    padding-top: var(--spacing-base) !important;
    padding-bottom: var(--spacing-base) !important;
    padding-left: var(--spacing-medium) !important;
    padding-right: var(--spacing-medium) !important;
  }

  header nav .btn {
    margin: var(--spacing-base) var(--spacing-medium);
    display: inline-flex !important;
  }

  header nav ul li a.wrapper {
    display: flex;
  }

  header nav .badge {
    margin-right: 0;
    margin-left: var(--spacing-medium);
  }
}
