@media (prefers-color-scheme: light) {
  .cards .contentItem {
    background-color: white;
    box-shadow: 0 30px 40px -20px rgba(0,0,0,0.1);
  }
}

@media (prefers-color-scheme: dark) {

  .cards .contentItem {
    background-color: var(--color-dm-shade);
    box-shadow: 0 30px 40px -20px rgba(0,0,0,0.2);
  }
}

@media only screen and (max-width: 1024px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .8) !important;
    line-height: calc(var(--line-height-1) * .8) !important;
  }
}

@media only screen and (max-width: 768px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .7) !important;
    line-height: calc(var(--line-height-1) * .7) !important;
  }
}

@media only screen and (max-width: 640px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .65) !important;
    line-height: calc(var(--line-height-1) * .65) !important;
  }
}

@media only screen and (max-width: 480px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .6) !important;
    line-height: calc(var(--line-height-1) * .6) !important;
  }
}

@media only screen and (max-width: 870px) {

  nav a.active {
    border-bottom: none !important;
  }

  header nav {
    position: initial;
  }

  header h1 {
    float: none;
    margin-top: 0;
  }

  header nav ul {
    display: none;
  }

  nav.primaryNav ul {
    display: inherit;
  }

  nav a {
    padding: 0;
  }

  header nav.staged ul {
    display: inherit;
  }

  .navButton, .close, .menu {
    display: inherit !important;
  }

  .withUtil {
    right: calc(var(--spacing-xxlarge) * 1.43);
  }

  .utilityIcon {
    padding-left: var(--spacing-medium);
    margin-left: var(--spacing-base);
  }

  header.singleNav nav ul {
    display: inherit !important;
  }

  nav .btn {
    margin-left: 0 !important;
  }

}

/* header .wrapper {
  background-color: #8F8EBF;
}

header h1 {
  color: #2C2645;
}

header .btn {
  background-color: #2C2645;

}

.intro {
  background-color: #8F8EBF;
}

.intro h1 {
  color: #2C2645;
} */
