article h2 {
  font-family: var(--font-serif)!important;
  font-weight: bold !important;
  margin-bottom: var(--spacing-large) !important;
  margin-top: calc(var(--spacing-xxlarge)*1.5) !important;
}

article h3 {
  font-family: var(--font-serif)!important;
  font-weight: bold !important;
  margin-bottom: var(--spacing-large) !important;
}

article h4 {
  font-family: var(--font-serif);
  font-weight: bold !important;
  margin-bottom: var(--spacing-large) !important;
}

.authorName {
  font-weight: bold;
}

article img {
  max-width: 100%;
  width: 1024px;
  height: auto;
  margin: var(--spacing-medium) 0;
  transition: 300ms;
}

article img.small {
  width: 640px;
}

article {
  margin-bottom: var(--spacing-xxlarge);
}

article p + img {
  margin-top: var(--spacing-base);
}

article .featureImage {
  float: right;
  margin: 0 0 var(--spacing-medium) var(--spacing-medium);
  width: 50% !important;
}

article a.location {
  font-weight: bold;
}

article p {
  margin-bottom: var(--spacing-base);
  line-height: var(--line-height-article);
}

article h2 {
  margin-bottom: var(--spacing-base);
}

article h3 {
  margin-bottom: var(--spacing-base);
}

article p + h3 {
  margin-top: var(--spacing-xlarge);
}

article h4 {
  margin: 0 0 var(--spacing-base) 0;
}

article .description h3 {
  margin-top: var(--spacing-xxlarge) !important;
}

article .description {
  width: auto;
  padding-right: 0;
}

article.caseStudy h1 {
  text-align: center;
}

article.caseStudy h2 {
  text-align: center;
}

article.caseStudy h3 {
  text-align: center;
}

article.caseStudy h4 {
  text-align: center;
}

article.caseStudy p {
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
  margin-left: auto;
  margin-right: auto;
}

article.caseStudy .description {
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
}

article.caseStudy img {
  margin-bottom: calc(var(--spacing-xxlarge) * 2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
}

article .description p {
  margin-bottom: var(--spacing-medium);
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 640px) {

  article p {
    margin-bottom: var(--spacing-medium);
  }

  article .featureImage {
    margin: 0 0 var(--spacing-xxlarge) 0;
    width: 100% !important;
  }

  article h2 {
    margin-bottom: var(--spacing-medium);
  }
}
