@media (prefers-color-scheme: light) {
  .banner {
    background-color: var(--color-dark);
    background: rgb(100,33,166);
    /* background: -moz-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    background: linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1); */
  }

  .banner p, .banner a {
    color: var(--color-light) !important;
  }

  .bannerBtn {
    background-image: url('../../../images/banner/dm-icon-close.png');
  }
}

@media (prefers-color-scheme: dark) {
  .banner {
    background-color: var(--color-light);
    background: rgb(178,144,210);
    /* background: -moz-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    background: linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1); */
  }

  .banner p, .banner a {
    color: var(--color-dark) !important;
  }

  .bannerBtn {
    background-image: url('../../../images/banner/lm-icon-close.png');
  }
}

.banner {
  padding: var(--spacing-xsmall) 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: .3s;
  /* animation: gradient 30s infinite; */
}

.banner p {
  padding: 0;
  width: fit-content;
  margin: 0 auto;
  font-size: var(--font-size-small);
  animation: none !important;
}

.banner + header {
  top: 40px !important;
  transition: .3s;
}

.banner.hidden + header {
  top: 0px !important;
}

.banner + header ~ div .intro h2 {
  margin-top: 20px !important;
}

.banner.hidden + header ~ div .intro h2 {
  margin-top: 0px !important;
}

.bannerBtn {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--spacing-large);
  height: var(--spacing-large);
  margin-right: var(--spacing-medium);
}

@media only screen and (max-width: 768px) {
  .bannerBtn {
    margin-right: var(--spacing-base);
  }

  .banner p {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .bannerBtn {
    /* margin-right: var(--spacing-small); */
  }

  .banner p {
    font-size: calc(var(--font-size-small) * 1);
  }

}

@media only screen and (max-width: 420px) {
  .banner p {
    font-size: calc(var(--font-size-small) * .9);
  }

}
