@media (prefers-color-scheme: light) {
  header {
    background-color: rgba(255, 255, 255, .8);
  }

  header h1 {
    color: var(--font-color-dark);
  }

  nav.staged {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: var(--shadow-lm);
  }

  .utilityIcon {
    border-left: var(--border-lm);
  }

  .utilitySection {
    border-top: var(--border-lm);
  }

  .staged .utilityIcon {
    border-left: none;
  }

  nav a.active {
    border-bottom: 3px solid var(--color-dark);
  }

  .navbar-toggle {
    background-image: url("../../../../images/lm-icon-menu.png");
  }

  .animate {
    background: rgb(100,33,166) !important;
    background: -moz-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%) !important;
    background: -webkit-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%) !important;
    background: linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1) !important;
    -webkit-background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    animation: gradient 30s infinite !important;
    animation-direction: reverse !important;
    transition: 1s;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: rgba(51, 51, 51, .8);
  }

  header h1 {
    color: var(--font-color-light-alt);
  }

  .navbar-toggle {
    background-image: url("../../../../images/dm-icon-menu.png");
  }

  nav.staged {
    background-color: rgba(51, 51, 51, 1);
    box-shadow: var(--shadow-dm);
  }

  .utilityIcon {
    border-left: var(--border-dm);
  }

  .utilitySection {
    border-top: var(--border-dm);
  }

  .staged .utilityIcon {
    border-left: none;
  }

  nav a.active {
    border-bottom: 3px solid var(--color-light);
  }

  .animate {
    background: rgb(209,188,228) !important;
    background: -moz-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%) !important;
    background: -webkit-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%) !important;
    background: linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1) !important;
    -webkit-background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    animation: gradient 30s infinite !important;
    animation-direction: reverse !important;
    transition: 1s;
  }
}

header {
  z-index: 3;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

header .btn {
  margin-bottom: 0;
}

header .wrapper {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.appHeader .wrapper {
  max-width: inherit;
  padding: var(--spacing-medium) var(--spacing-base) !important;
}

header h1 {
  font-size: var(--font-size-logo);
  font-family: 'Mono';
  margin-bottom: 0;
  line-height: initial;
  flex: 1;
  width: max-content;
  font-weight: initial !important;
  letter-spacing: -.25px;
  position: relative;
  top: -3px;
}

.amp {
  font-family: 'Alice' !important;
  font-size: var(--font-size-3);
  position: relative;
  top: 3px;
  margin: 0 var(--spacing-xxsmall);
  background: rgb(100,33,166);
  background: -moz-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
  background: linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient 30s infinite;
}

header h1 a {
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}

.indicator {
  font-size: var(--font-size-xxxsmall);
}

.logoGroup {
  display: flex;
  align-items: center;
}

.logoMark {
  width: 1.75rem;
  height: 1.75rem;
  /* background-image: url('#'); */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: var(--spacing-xxsmall);
  font-size: 1.75rem;
  background: initial;
  filter: none;
  -webkit-background-clip: initial;
  text-fill-color: initial;
  -webkit-text-fill-color: initial;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.emptyLogo {
  width: 0 !important;
  margin-right: 0 !important;
}

header .emojiTheme {
  -webkit-text-fill-color: initial;
  background: initial;
}

.assistiveText {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
  font-size: var(--font-size-small);
}

.assistiveText:focus {
  top: 0;
  width: initial!important;
  height: initial!important;
  overflow: visible!important;
  clip:auto!important;
  }

nav {
  display: flex;
  align-items: center;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 0 !important;
  font-size: var(--font-size-small);
  padding: 0 var(--spacing-xsmall) 0 var(--spacing-xsmall);
}

nav .btn {
  margin-left: var(--spacing-small);
}

nav ul li:first-of-type {
  margin-left: 0;
}

nav ul li:last-of-type {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.status {
  font-style: italic;
}

nav a {
  /* font-size: var(--font-size-small); */
  text-decoration: none;
  /* padding: 0 var(--spacing-xsmall) calc(var(--spacing-large) + 2px) var(--spacing-xsmall); */
}

nav a.active {
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav.staged {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding: var(--spacing-large) var(--spacing-medium);
  width: 100%;
}

.utilitySection {
  padding-top: var(--spacing-large);
}

.utilityIcon {
  font-size: var(--font-size-logo);
  padding-left: var(--spacing-base);
  margin-left: var(--spacing-base);
  opacity: .85;
  padding-bottom: 0;
  padding-right: 0;
}

.utilitySection .utilityIcon {
  margin-right: var(--spacing-small);
  padding-top: var(--spacing-large);
  padding-left: 0;
}

.utilityIcon:hover {
  text-decoration: none;
  opacity: 1;
}

.open {
  display: block !important;
}

nav.staged li {
  display: inherit;
  margin-left: 0;
  margin-bottom: var(--spacing-large);
}

.navButton {
  position: absolute;
  right: var(--spacing-base);
  width: var(--button-icon);
  height: var(--button-icon);
  display: none;
  padding: 0;
}

.withUtil {
  right: calc(var(--spacing-xxlarge) * 1.285);
}

.staged .navButton {
  top: var(--spacing-medium);
  right: var(--spacing-base);
}

aside .navButton {
  right: var(--spacing-medium);
}

.close, .menu {
  width: var(--button-icon);
  height: var(--button-icon);
}

@media only screen and (max-width: 768px) {

  nav a.active {
    border-bottom: none !important;
  }

  header nav {
    position: initial;
  }

  header h1 {
    float: none;
    margin-top: 0;
  }

  header nav ul {
    display: none;
  }

  nav.primaryNav ul {
    display: inherit;
  }

  nav a {
    padding: 0;
  }

  header nav.staged ul {
    display: inherit;
  }

  .navButton, .close, .menu {
    display: inherit !important;
  }

  .withUtil {
    right: calc(var(--spacing-xxlarge) * 1.43);
  }

  .utilityIcon {
    padding-left: var(--spacing-medium);
    margin-left: var(--spacing-base);
  }

  header.singleNav nav ul {
    display: inherit !important;
  }

  nav .btn {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: calc(var(--font-size-logo)*.9);
    line-height: calc(var(--line-height-body)*.9)
  }
}

@media only screen and (max-width: 375px) {
  .centeredTitle {
    text-align: center;
  }

  .logoMark {
    width: 2rem;
    height: 2rem;
  }

  .staged .navButton {
    top: calc(var(--spacing-base) * 1.25);
  }
}
