@font-face {
  font-family: "Rubik Regular";
  src: url("../assets/fonts/sans/regular.woff2") format("woff2"),
       url("../assets/fonts/sans/regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik Light";
  src: url("../assets/fonts/sans/light.woff2") format("woff2"),
       url("../assets/fonts/sans/light.woff") format("woff");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("../assets/fonts/sans/medium.woff2") format("woff2"),
       url("../assets/fonts/sans/medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  src: url("../assets/fonts/serif/regular.woff2") format("woff2"),
       url("../assets/fonts/serif/regular.woff") format("woff");
}

@font-face {
  font-family: "Alice";
  src: url("../assets/fonts/serif/Alice.woff2") format("woff2"),
       url("../assets/fonts/serif/Alice.woff") format("woff");
}

@font-face {
  font-family: "Mono";
  src: url("../assets/fonts/mono/SourceCodePro.woff2") format("woff2"),
       url("../assets/fonts/mono/SourceCodePro.woff") format("woff");
}


@media (prefers-color-scheme: light) {
  h1, h2, h3, h4, h5, h6, p, ul, li {
    color: var(--font-color-dark);
  }

  .highlight {
    background-color: var(--color-dark);
    color: var(--font-color-light);
  }

  /* p.hint {
    color: #2B5C88;
  } */
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6, p, ul, li {
    color: var(--font-color-light);
  }

  .highlight {
    background-color: #f2f2f2;
    color: var(--color-dark);
  }
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Mono';
  line-height: var(--line-height-heading);
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.intro h1 {
  font-weight: normal;
  font-size: calc(var(--font-size-1) * .8);
}

.emoji + h1 {
  margin-top: 0;
}

.emoji + h2 {
  margin-top: 0;
}

.emoji + h3 {
  margin-top: 0;
}

.emoji + h4 {
  margin-top: var(--spacing-medium) !important;
}

.emoji + h5 {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-1);
  margin-bottom: var(--spacing-medium);
  letter-spacing: -.0125rem;
}

h2 {
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-xlarge);
  margin-top: var(--spacing-xxlarge);
  letter-spacing: -.025rem;
}

.description h2 {
  margin-top: 0 !important;
  margin-bottom: var(--spacing-base);
}

h3 {
  font-size: var(--font-size-3)!important;
  margin-bottom: var(--spacing-base);
  margin-top: var(--spacing-xxlarge) !important;
  max-width: 50ch;
}

h3 a {
  margin-top: var(--spacing-xsmall) !important;
}

.description h3 {
  margin-top: 0 !important;
}

.description h2 > h3 {
  margin-top: var(--spacing-xxlarge);
}

.centeredContent h3 {
  margin-left: auto!important;
  margin-right: auto!important;
}

.centeredContent .description h3 {
  margin-left: auto!important;
  margin-right: auto!important;
}

h4 {
  font-size: var(--font-size-4)!important;
  margin-bottom: var(--spacing-base);
  margin-top: var(--spacing-xxlarge) !important;
}

.description h4 {
  margin-top: 0 !important;
}

h4 a {
  font-size: var(--font-size-4) !important;
  margin-bottom: var(--spacing-base);
}

p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  max-width: 640px !important;
}

p + p {
  margin-top: var(--spacing-base);
}

p + ul {
  margin-top: var(--spacing-base);
}

p.caption {
  font-size: var(--font-size-small) !important;
  margin: var(--spacing-base) var(--spacing-base) 0 0;
}

.strong {
  font-weight: bold;
}

.highlight {
  border-radius: var(--radius-base);
  padding: var(--spacing-xxsmall) var(--spacing-xxsmall) var(--spacing-xsmall) var(--spacing-xxsmall);
}

.statement p {
  font-family: 'Mono';
  font-size: var(--font-size-3);
  text-align: center;
  margin: 0 auto;
}

p .highlight {
  padding: var(--spacing-xxsmall);
}

.code {
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);
  border-radius: var(--radius-base);
  font-family: monospace;
  width: max-content !important;
  font-size: var(--font-size-small);
}

@media only screen and (max-width: 1280px) {
  h1 {
      font-size: calc(var(--font-size-1) * .9);
      margin-bottom: calc(var(--spacing-large) * .9);

  }

  h2 {
      font-size: calc(var(--font-size-2) * .9);
      margin-bottom: calc(var(--spacing-large) * 1.25);
  }

}

@media only screen and (max-width: 768px) {
  h1 {
      font-size: calc(var(--font-size-1) * .75);
      margin-bottom: calc(var(--spacing-large) * .75);
      width: 100%;
  }

}

@media only screen and (max-width: 480px) {
  .intro {
    height: initial;
    position: relative;
  }

  h1 {
      font-size: calc(var(--font-size-1) * .6);
      margin-bottom: calc(var(--spacing-large) * .6);
  }

  .intro h1 {
    font-family: var(--font-sans) !important;
  }

}

@media only screen and (max-width: 420px) {

}
