@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

.statementContainer {
  display: flex;
  justify-content: center;
}

.statement {
  display: flex;
  align-self: center;
}

.statement.description {
  margin: 0;
}

.statement p, .statement q {
  font-size: var(--font-size-4);
}

.quotes {
  font-size: var(--font-size-3);
  font-family: 'Serif';
}

@media only screen and (max-width: 960px) {
  .statement p, .statement q {
    font-size: calc(var(--font-size-4) * .9);
  }
}

@media only screen and (max-width: 768px) {
  .statement p, .statement q {
    font-size: calc(var(--font-size-4) * .8);
  }
}

@media only screen and (max-width: 640px) {
  .statement p, .statement q {
    font-size: calc(var(--font-size-4) * .8);
  }
}

@media only screen and (max-width: 480px) {
/*  .statement p, .statement q {
    font-size: calc(var(--font-size-4) * .7);
  }*/
}
