@media (prefers-color-scheme: light) {
  ::selection {
      background-color: rgb(100,33,166);
      color: var(--color-light);
  }

  :focus {
    outline-color: rgb(100,33,166) !important;
  }

  input {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border-dark);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-lm.png");
  }

  a {
    color: var(--color-dark);
  }

  body {
    background-color: var(--color-shade-lm);
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
      background-color: rgb(178,144,210);
      color: var(--color-dark);
  }

  :focus {
    outline-color: rgb(178,144,210) !important;
  }

  body {
    background-color: var(--shade-dm);
  }

  input {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border-light-1);
  }

  input[type="search"] {
    background-image: url("../../design-system/images/input/icon-search-dm.png");
  }

  a {
    color: var(--color-light);
  }
}

:focus {
  text-decoration: underline;
  outline: solid;
}

.btn:focus {
  text-decoration: underline;
  outline: solid;
}

input:focus {
  text-decoration: none;
}

input[type="search"] {
  background-size: 1.25rem;
  background-position: .75rem center;
  background-repeat: no-repeat;
  padding-left: calc(var(--spacing-xlarge) * .85);
}

html {
  scroll-padding-top: calc(var(--spacing-xxlarge) * 1.5);
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

a {
  cursor: pointer;
}

p + ul {
  margin-left: var(--spacing-base);
}

ul {
  margin: var(--spacing-small) 0;
  max-width: 640px;
}

ul li {
  margin: var(--spacing-small) 0;
}

ul li:first-of-type {
  margin: 0;
}

img {
  margin: var(--spacing-base) 0;
  width: 100%;
}

header, article, section, footer {
  display: flex;
  justify-content: center;
}

section {
  /* margin: 0 0 calc(var(--spacing-xxlarge) * 1.75) 0; */
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 0 var(--spacing-large);
  flex-direction: column;
}

.middle > * {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 var(--spacing-medium);
  }

  /* section {
    margin: 0 0 calc(var(--spacing-xxlarge) * 1.25) 0;
  } */

}
