@media (prefers-color-scheme: light) {
  .btn {
    border: var(--border-dark);
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  .btnIcon {
    background-image: url('../images/nav/lm-icon-menu.png');
  }

  .primaryBtn {
    background-color: rgba(100,33,166, 1);
    color: var(--color-light) !important;
  }

  .btn:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  }

  .btn:active {
     box-shadow: inset 0 2px 0 rgba(0,0,0,0.1);
     filter: brightness(95%);
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    border: var(--border-light);
    color: var(--color-dark);
    background-color: var(--color-shade-dm);
  }

  .btnIcon {
    background-image: url('../images/nav/dm-icon-menu.png');
  }

  .primaryBtn {
    background-color: var(--color-light);
    color: rgb(178,144,210);
  }

  .btn:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 0 0 rgba(255,255,255,0.1);
  }

  .btn:active {
     box-shadow: inset 0 2px 0 rgba(255,255,255,0.1);
     filter: brightness(95%);
  }
}

.btn {
  padding: var(--spacing-button) !important;
  border-radius: var(--radius-soft);
  display: inline-flex !important;
  font-size: var(--font-size-small);
  width: max-content;
  text-decoration: none;
  cursor: pointer;
  margin: var(--spacing-base) 0;
  /* text-transform: capitalize; */
  font-family: 'Mono';
  /* border-radius: var(--radius-round); */
}

header .btn {
  margin-top: 0;
  margin-bottom: 0;
}

.btnLrg {
  padding: var(--spacing-button-lg) !important;
  font-size: var(--font-size-base);
}

.btnIcon {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--size-btn-icon);
  height: var(--size-btn-icon);
}

@media only screen and (max-width: 768px) {
  .btn {
    margin: var(--spacing-base) 0;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: var(--font-size-small);
  }
}

@media only screen and (max-width: 390px) {
  .btn {
    font-size: var(--font-size-xsmall);
  }
}
