/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

@import url("reset.css");
@import url("variables.css");
@import url("base.css");
@import url("buttons.css");
@import url("animation.css");
@import url("typography.css");
@import url("../../css/icons.css");
@import url("../../css/overrides.css");
/* @import url("firefox.css"); */
@import url("../components/header/css/header.css");
@import url("../components/intro/css/intro.css");
@import url("../components/tabs/css/tabs.css");
@import url("../components/content/css/content.css");
@import url("../components/aside/css/aside.css");
@import url("../components/content/css/cards.css");
@import url("../components/footer/css/footer.css");
@import url("../components/badge/css/badge.css");
@import url("article.css");
