@font-face {
  font-family: "Sans";
  src: url("../fonts/sans/Inter-Regular.woff2") format("woff2"),
       url("../fonts/sans/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Serif";
  src: url("../fonts/serif/regular.woff2") format("woff2"),
       url("../fonts/serif/regular.woff") format("woff");
}

@font-face {
  font-family: "Alice";
  src: url("../fonts/serif/Alice.woff2") format("woff2"),
       url("../fonts/serif/Alice.woff") format("woff");
}

@font-face {
  font-family: "Mono";
  src: url("../fonts/mono/Atkinson-Hyperlegible-Regular.woff2") format("woff2"),
       url("../fonts/mono/Atkinson-Hyperlegible-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lex";
  src: url("../fonts/sans/LexendDeca-Regular.woff2") format("woff2"),
       url("../fonts/sans/LexendDeca-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pixel";
  src: url("../fonts/pixel/Pixeloid.woff2") format("woff2"),
       url("../fonts/pixel/Pixeloid.woff") format("woff");
}

@media (prefers-color-scheme: light) {
  h1, h2, h3, h4, h5, h6, p {
    color: var(--color-dark);
  }

  p.meta {
    color: var(--color-label-lm);
  }

  p.meta a {
    color: var(--color-label-lm);
  }

  ul li {
    color: var(--color-dark);
  }

  .code {
    color: #e83e8c;
    background-color: var(--color-shade-lm);
    border: var(--border-dark);
  }

  .highlight {
    background-color: var(--color-dark);
    color: white;
    background: rgb(100,33,166);
    background: -moz-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    background: linear-gradient(135deg, rgba(100,33,166,1) 0%, rgba(86,65,193,1) 50%, rgba(74,95,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1);
  }

  .statement p, label {
    color: var(--color-label-lm);
  }

  .member + p {
    color: var(--color-label-lm);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--color-light);
  }

  p.meta {
    color: var(--color-label-dm);
  }

  p.meta a {
    color: var(--color-label-dm);
  }

  ul li {
    color: var(--color-light);
  }

  .code {
    color: #EE72AC;
    background-color: var(--color-shade-dm);
    border: var(--border-light);
  }

  .highlight {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  .highlight {
    background-color: var(--color-dark);
    color: var(--color-dark);
    background: rgb(178,144,210);
    background: -moz-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    background: linear-gradient(135deg, rgba(178,144,210,1) 0%, rgba(170,160,224,1) 50%, rgba(164,175,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6421a6",endColorstr="#4a5fd9",GradientType=1);
  }

  .statement p, label {
    color: var(--color-label-dm);
  }

  .member + p {
    color: var(--color-label-dm);
  }
}

body {
  font-family: 'Sans';
}

.member {
  font-size: var(--font-size-4);
  margin: 0 !important;
}

.member + p {
  margin: 0 0 var(--spacing-base) 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-heading);
  width: fit-content;
  font-family: 'Mono';
  transition: .15s;
  letter-spacing: .25rem;
}

h3, h4, h5, h6 {
  letter-spacing: .125rem;
}

h2 {
  font-size: var(--font-size-1);
}

h3 {
  font-size: var(--font-size-2);
  margin: var(--spacing-base) 0 var(--spacing-medium) 0 !important;
}

h4 {
  font-size:  var(--font-size-3);
  margin: var(--spacing-xxlarge) 0 var(--spacing-xxsmall) 0;
}

h5 {
  font-size:  var(--font-size-4);
  margin: var(--spacing-xlarge) 0 var(--spacing-small) 0;
}

h6 {
  font-size:  var(--font-size-5);
  margin: var(--spacing-large) 0 var(--spacing-small) 0;
}

p {
  max-width: 640px;
  line-height: var(--line-height-body);
  margin: var(--spacing-base) 0;
}

p.meta {
  margin: var(--spacing-small) 0 var(--spacing-xsmall) 0 !important;
  font-size: var(--font-size-xsmall);
}

.highlight {
  padding: var(--spacing-xxsmall);
  border-radius: var(--radius-soft);
  animation: gradient 90s infinite;
}

h1 .emoji, h2 .emoji, h3 .emoji, h4 .emoji, h5 .emoji, h6 .emoji {
  display: block;
  margin-bottom: var(--spacing-small);
}

.center h1, .center h2, .center h3, .center h4, .center h5, .center h6 {
  text-align: center;
}

.code {
  padding: var(--spacing-xxsmall) var(--spacing-xsmall);
  border-radius: var(--radius-soft);
  font-family: monospace;
  width: max-content !important;
  font-size: var(--font-size-small);
}

.statement p {
  font-family: 'Mono';
  font-size: var(--font-size-3);
  line-height: var(--line-height-body);
  max-width: 768px !important;
  margin: var(--spacing-base) !important;
  letter-spacing: .125rem;
}

.statement {
  margin: 0 auto !important;
}

#services h3, #working h3  {
  width: 100%;
  text-align: center;
}

.center .description {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  h2 {
    font-size: calc(var(--font-size-1) * .9);
  }

  h3 {
    font-size: calc(var(--font-size-2) * .9);
  }

  h4 {
    font-size: calc(var(--font-size-3) * .9);
    margin: calc(var(--spacing-xxlarge) * .9) 0 var(--spacing-xxsmall) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * .9);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .9);
  }

  .statement p {
    font-size: calc(var(--font-size-3) * .8);
  }

}

@media only screen and (max-width: 1280px) {
  h2 {
    font-size: calc(var(--font-size-1) * .8);
  }

  h3 {
    font-size: calc(var(--font-size-2) * .8);
  }

  h4 {
    font-size: calc(var(--font-size-3) * .8);
    margin: calc(var(--spacing-xxlarge) * .8) 0 var(--spacing-xxsmall) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * .8);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .8);
  }

}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1000px) {

  h2 {
    font-size: calc(var(--font-size-1) * .7);
  }

  h3 {
    font-size: calc(var(--font-size-2) * .75);
  }

  h4 {
    font-size: calc(var(--font-size-3) * .75);
    margin: calc(var(--spacing-xxlarge) * .75) 0 var(--spacing-xxsmall) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * .75);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .75);
  }

  .statement p {
    font-size: calc(var(--font-size-3) * .75);
  }

}

@media only screen and (max-width: 768px) {

  #services h3 {
    width: 100%;
    text-align: left;
    margin-bottom: var(--spacing-medium) !important;
  }

  h3 {
    font-size: calc(var(--font-size-2) * .7);
    margin-bottom: var(--spacing-medium) !important;

  }

  h4 {
    font-size: calc(var(--font-size-3) * .7);
    margin: calc(var(--spacing-xxlarge) * .7) 0 var(--spacing-xxsmall) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * .7);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .7);
  }

  .statement p {
    font-size: calc(var(--font-size-3) * .7);
  }

}

@media only screen and (max-width: 640px) {

  h2 {
    font-size: calc(var(--font-size-1) * .65);
  }

  h3 {
    font-size: calc(var(--font-size-2) * .65);
  }

  h4 {
    font-size: calc(var(--font-size-3) * .65);
    margin: calc(var(--spacing-xxlarge) * .65) 0 var(--spacing-xxsmall) 0;
  }

  h5 {
    font-size: calc(var(--font-size-4) * .65);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .65);
  }

  .statement p {
    font-size: calc(var(--font-size-3) * .65);
  }

}

@media only screen and (max-width: 480px) {

  h2 {
    font-size: calc(var(--font-size-1) * .55);
  }

  h3 {
    font-size: calc(var(--font-size-2) * .55);
  }

  h5 {
    font-size: calc(var(--font-size-4) * .55);
  }

  h6 {
    font-size: calc(var(--font-size-5) * .55);
  }

  .code {
    width: fit-content !important;
  }

  .statement p {
    font-size: calc(var(--font-size-3) * .55);
  }
}

@media only screen and (max-width: 390px) {

  h2 {
    font-size: calc(var(--font-size-1) * .5);
  }

}
