/* @media (prefers-color-scheme: light) {
  .cards .contentRowContent .contentItem {
    border: var(--border-lm);
  }
}

@media (prefers-color-scheme: dark) {

  .cards .contentRowContent .contentItem {
    border: var(--border-dm);
  } */
}

.tertiaryContent .contentItem {
  margin-bottom: var(--spacing-large);
}

.tertiaryContent .meta {
  margin-bottom: var(--spacing-xsmall);
}

.tertiaryContent p + p {
  margin-top: var(--spacing-small);
}

.tertiaryContent .description p {
  margin-bottom: var(--spacing-xsmall);
}

.contentRow h2 {
  text-align: center;
}

.descCol {
  display: flex;
  margin-top: var(--spacing-medium);
}

.descCol p {
  margin-bottom: var(--spacing-xsmall) !important;
  font-size: var(--font-size-small) !important;
}

.descCol p:last-of-type {
  margin-bottom: 0 !important;
}

/* .priceEx {
  margin-top: calc(var(--spacing-xlarge) * 2);
} */

.priceEx .description div {
  flex-grow: 1;
  text-align: left;
  width: 100%;
}

.cards .description h4 {
  margin-bottom: var(--spacing-base) !important;
}

.cards h3 {
  margin-top: calc(var(--spacing-xxlarge) * 1.5) !important;
}

.contentRow h3 {
  margin-bottom: var(--spacing-xxlarge);
}

.contentRow .contentItem h3 {
  margin-bottom: var(--spacing-base);
}

.cards .contentRowContent {
  margin-bottom: var(--spacing-large);
}

.contentRowContent {
  display: flex;
  margin-bottom: var(--spacing-xxlarge);
}

.contentItem.contentRow {
  display: inherit;
}

.contentRowContent .contentItem {
  margin-bottom: 0;
}

.contentRow + footer {
  margin-top: calc(var(--spacing-xxlarge) * 1.5);
}

.contentRowContent:last-of-type {
  margin-bottom: 0;
}

.contentRow .icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--spacing-xsmall);
}

.contentRow .icon.large {
  width: 6rem;
  height: 6rem;
  margin-bottom: var(--spacing-base);
}

.contentRow .icon.full {
  background-size: contain;
  width: 100%;
  height: calc(var(--spacing-xlarge) * 1.5);
  margin-bottom: var(--spacing-medium);
}

h3 + .icon + a {
  margin-top: var(--spacing-medium);
  display: inherit;
}

.contentRow .contentRowContent img {
  width: 100%;
}

.contentRow .description .btn {
  display: block;
  width: max-content;
  margin: 0 auto var(--spacing-base) auto;
}

.contentRow .emoji {
  font-size: var(--font-size-emoji-sm) !important;
  margin-bottom: var(--spacing-xsmall) !important;
}

.contentRow p {
  font-size: calc(var(--font-size-body) * .9);
}

.contentRow p + a {
  font-size: calc(var(--font-size-body) * .9);
}

.contentRowContent .contentItem {
  padding: 0 var(--spacing-medium);
  text-align: center;
  width: 50vw;
}

.cards .contentRowContent .contentItem {
  padding: var(--spacing-xlarge) !important;
  margin: 0 var(--spacing-base);
  border-radius: var(--radius-soft);
}

.contentRowContent .contentItem .description {
  margin-bottom: 0;
}

.contentRowContent .featureImage {
  margin-top: var(--spacing-large) !important;
}

.contentRowContent .featureImage {
  width: 100% !important;
}

/* .contentItem h4 {
  margin-top: 0;
} */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {


  .contentRowContent {
    margin-bottom: var(--spacing-medium);
  }

  .cards .contentRowContent .contentItem {
    margin-bottom: var(--spacing-medium);
  }

  .cards .contentRowContent {
    margin-bottom: initial !important;
  }

  .contentRowContent .contentItem {
    width: initial;
  }

  .contentRow h2 {
    text-align: left;
  }

  .contentRowContent {
    display: inherit;
  }

  .contentRowContent .contentItem {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin-bottom: calc(var(--spacing-xxlarge) * 1.5);
  }

  .contentRowContent .contentItem:first-of-type {
    padding-top: 0;
  }

  .contentRow p {
    font-size: var(--font-size-body);
  }

  .contentRow a {
    font-size: var(--font-size-body);
  }

  .cards .contentRowContent .contentItem {
    margin: 0 0 var(--spacing-base) 0;
  }
}

@media only screen and (max-width: 375px) {
  .contentRowContent .contentItem {
    margin-bottom: calc(var(--spacing-xxlarge) * 1.25);
  }
}
