@media (prefers-color-scheme: light) {
  .btn {
    border: var(--border-dark);
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  .btnIcon {
    background-image: url('../../../images/nav/lm-icon-menu.png');
  }

  .primaryBtn {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .btn:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  }

  .btn:active {
     box-shadow: inset 0 2px 0 rgba(0,0,0,0.1);
     filter: brightness(95%);
  }

  .tertiaryBtn:hover {
    background-color: var(--color-shade-lm);
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    border: var(--border-light);
    color: var(--color-light);
    background-color: var(--color-shade-dm);
  }

  .btnIcon {
    background-image: url('../../../images/nav/dm-icon-menu.png');
  }

  .primaryBtn {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  .btn:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 0 0 rgba(255,255,255,0.1);
  }

  .btn:active {
     box-shadow: inset 0 2px 0 rgba(255,255,255,0.1);
     filter: brightness(95%);
  }

  .tertiaryBtn:hover {
    background-color: var(--color-shade-dm);
  }
}

.btn {
  padding: var(--spacing-button) !important;
  border-radius: var(--radius-soft);
  display: inline-flex !important;
  font-size: var(--font-size-smaller);
  width: max-content;
  text-decoration: none;
  font-family: 'Sans Bold';
  cursor: pointer;
  margin: var(--spacing-small) 0;
  text-transform: capitalize;
  line-height: var(--line-height-button);
  letter-spacing: var(--kern-open);
}

.tertiaryBtn {
  border: none !important;
}

.btnLrg {
  padding: var(--spacing-button-lg) !important;
}

.btnIcon {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--size-btn-icon);
  height: var(--size-btn-icon);
}

@media only screen and (max-width: 768px) {

  .btn {
    margin: var(--spacing-xsmall) 0;
  }
}
