
._components
._.DS_Store
._assets
._builder
._css
._fonts
._glow.html
._index.html
._js
._secondary.html
.DS_Store
assets/.DS_Store
assets/examples/._normsec.png
assets/examples/._portfolio.png
assets/examples/.DS_Store
builder/._index.html
builder/.DS_Store
components/.DS_Store
components/article/.DS_Store
components/badge/.DS_Store
components/filters/.DS_Store
components/footer/.DS_Store
components/header/.DS_Store
components/intro/.DS_Store
components/links-buttons/.DS_Store
components/content/.DS_Store
components/notification/.DS_Store
components/tabs/.DS_Store
fonts/serif/._bold.woff2
fonts/serif/._italic.woff2
fonts/serif/._regular.woff2
._index.php
._index.php
assets/examples/._normal-security.png
assets/examples/._normal-security.png
assets/logos/._dm-logo-onionshare.svg
assets/logos/._lm-logo-onionshare.svg
components/header/._README.md
docs/._nng-accessible-web-design.pdf
docs/._nng-ux-research-cheat-sheet.pdf
components/table/assets/._empty-bg-lm.svg
components/table/assets/._empty-bg-lm.png
components/table/assets/._empty-bg-dm.svg
components/table/assets/._empty-bg-dm.png
assets/logos/._lm-logo-onionshare.png
assets/logos/._dm-logo-onionshare.png
examples/onionshare/assets/._lm-logo-onionshare.svg
examples/onionshare/assets/._lm-logo-onionshare.png
examples/onionshare/assets/._dm-logo-onionshare.svg
examples/onionshare/assets/._dm-logo-onionshare.png
examples/onionshare/._empty.html
examples/onionshare/assets/logo/._dm-logo-onionshare.png
examples/onionshare/assets/logo/._dm-logo-onionshare.svg
examples/onionshare/assets/logo/._lm-logo-onionshare.png
examples/onionshare/assets/logo/._lm-logo-onionshare.svg
._chat.html
examples/onionshare/._chat.html
examples/onionshare/._receive.html
examples/onionshare/._share-zero-state.html
assets/images/squiggle/._squiggle-dm.svg
assets/images/squiggle/._squiggle-lm.svg
docs/._project-canvas-manual.pdf
docs/._project-canvas.pdf
chat.html
docs/Dark Patterns/._dark-patterns.pdf
docs/Ethical Design/._field-guide.pdf
docs/Ethical Design/._tech-risk-zones.pdf
docs/Mobile Security/._device-and-data-access-when-personal-safety-is-at-risk.pdf
